<div class="app">
  <div class="app__first-column">
    <h1 class="title">Customize your star</h1>
  </div>
  <div class="app__second-column">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac molestie
      lectus. Aliquam eget mi id diam commodo vehicula eget ac lorem. Vivamus eu
      porttitor ipsum. Cras sed ex a lacus maximus consectetur at sed tellus.
      Maecenas commodo molestie risus vel elementum. Nulla molestie sodales
      quam, in sollicitudin felis posuere non. Etiam ac vehicula nulla. Donec
      maximus, mauris id vestibulum tempor, neque massa rutrum elit, a vehicula
      lorem odio nec est. Vivamus molestie, urna a rhoncus gravida, leo augue
      iaculis quam, vel facilisis arcu dolor id purus. Nunc facilisis egestas
      urna. Quisque tempor neque quam, a efficitur sapien commodo sed. Praesent
      sed consectetur velit. Ut arcu est, suscipit vel diam iaculis, vestibulum
      euismod erat. Quisque scelerisque ornare urna eget faucibus. Duis et
      turpis sed dui aliquam lobortis in ut felis. Phasellus viverra malesuada
      luctus. Vestibulum bibendum at enim non bibendum. Aliquam tristique tempor
      lorem in pellentesque. Nam dolor massa, aliquam sed consequat vel, aliquet
      sed diam. Curabitur ornare turpis et porttitor aliquam. Sed scelerisque
      est lorem, vestibulum commodo dolor imperdiet et. Morbi nisi mauris,
      sagittis ac efficitur a, volutpat quis nulla. Duis laoreet vulputate
      fringilla. Sed facilisis nibh in neque vulputate maximus. Praesent
      facilisis vulputate massa, sit amet convallis ipsum. Donec ut nunc est.
      Duis eget tortor sed augue ullamcorper ullamcorper a et lorem. Vivamus
      luctus consequat luctus.
    </p>
  </div>
</div>
