.app {
  background: rgb(216, 174, 238);
  background: radial-gradient(
    circle,
    rgba(216, 174, 238, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  height: 100vh;
  padding: 0 10rem;
  display: flex;
  justify-content: space-around;
  gap: 10rem;

  &__first-column, &__second-column {
    align-self: center;
  }

  &__first-column {
    .title {
      font-weight: 700;
      font-size: 60px;
      line-height: 56px;
    }
  }
}
