on:
  push:
    branches:
    - main

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: Checkout repository
      - uses: pmorelli92/github-container-registry-build-push@2.0.0
        name: Build and Publish
        with:
          github-push-secret: ${{secrets.GITHUB_TOKEN}}
          docker-image-name: twinkle_backend
          docker-image-tag: latest
          dockerfile-path: ./twinkle_backend/Dockerfile
